html {
    font-family: "vazir"
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header--originlist {
    display: flex;
    flex-direction: row;
}
.header--inlist {
    display: none;
}
.header {
    flex-grow: 3;
}
.header--butten {
    flex-grow: 30;
}
.header--link-blue {
    flex-grow: 3;
    text-decoration:none;
    background-color: royalblue;
    color: white;
    padding: 0.45rem;
    border-radius: 5px;
    
}
.header--link{
    font-size: x-large;
    margin-top: 2.8%;
    margin-left: 5.8%;
}
.header--title {
    background-color: white;
    color: royalblue;
    font-size: xx-large;
    margin-top: 2.8%;
    margin-right: 5.8%; 
    margin-left: 0%;
}
.header--title-kian{
    text-decoration:none;
}
.cen {
    text-decoration: none;
    font-size: x-large;
    margin-top: 2.8%;
    margin-right: 2rem;
    color: black;
}
.cen2 {
    margin-right: 0rem;
}
.dropdown--list:hover > ul {
    display: flex;
    flex-direction: column;
}
#hh1 {
    color: royalblue;
}
.cen:hover {
    color: blue;
}

.start {
    display: flex;
    flex-direction: row;
}

.start--text {
    display: flex;
    flex-direction: column;
}
.start--image {
    width: 50% ;
    margin-top: 5rem;
}
.start--text-span {
    color: royalblue;
}
.start--text-title {
    font-size: xx-large;
    margin-top: 5rem;
    margin-right: 30.8%;
 
}
.start--text-details {
    margin-top: 1rem;
    margin-right: 30.8%;
}
.start--text-button {
    flex-direction: row;
    margin-top: 7rem;
}
.start--text-buttonorigin {
    margin-top: 1rem;
    margin-right: 30.8%;
    font-size: x-large;
    text-decoration: none;
    background-color: royalblue;
    color: white;
    padding: 0.6rem;
    border-radius: 0.4rem;
}
.start--text-buttondetails {
    margin-right: 2rem;
    font-size: x-large;
    text-decoration: none;
    background-color: #f2f6ff;
    padding: 0.6rem;
    border-radius: 0.4rem;
}
.start--text-span{
    color: royalblue;
}

@media (max-width : 354px) {
    .start--text-button {
        display: flex;
        flex-direction: column;
    }
    .start--text-buttonorigin {
        padding: 0.6rem;
        margin: 0;
        margin-left: 30%;
        margin-right: 30%;
    }
    .start--text-buttondetails {
        padding: 0.6rem;
        margin: 0;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 00.4rem;
    }
}
.introduction {
    display: flex;
    flex-direction: row;
}
#aa1 {
    margin-right: 20.8%;
    font-size: x-large;
    margin-bottom: 0.6rem;
}
#aa2 {
    margin-right: 20.8%;
}
#aa {
    margin-right: 20.8%;
    margin-top: 3rem;
}
#bb1{
    margin-right: 0.6rem;
    font-size: x-large;
    margin-bottom: 0.6rem;
}
#bb2 {
    margin-right: 0.6rem;
}
#bb {
    margin-right: 0.6rem;
    margin-top: 3rem;
}
#cc {
    margin-right: 0.6rem;
    margin-left: 20.8%;
    margin-top: 3rem;
}
#cc1 {
    margin-right: 0.6rem;
    margin-left: 20.8%;
    font-size: x-large;
    margin-bottom: 0.6rem;
}
#cc2 {
    margin-right: 0.6rem;
    margin-left: 20.8%;
}
@media (max-width : 768px) {
    .introduction{
        flex-direction: column;
    }
    #aa1 {
        margin-right: 5.8%;
        margin-left: 5.8%;
        font-size: x-large;
        margin-bottom: 0.6rem;
    }
    #aa2 {
        margin-right: 5.8%;
        margin-left: 5.8%;
    }
    #aa {
        margin-right: 5.8%;
        margin-top: 3rem;
    }
    #bb1{
        margin-right: 0.6rem;
        font-size: x-large;
        margin-bottom: 0.6rem;
        margin-right: 5.8%;
        margin-left: 5.8%;
    }
    #bb2 {
        margin-right: 0.6rem;
        margin-right: 5.8%;
        margin-left: 5.8%;
    }
    #bb {
        margin-right: 0.6rem;
        margin-top: 3rem;
        margin-right: 5.8%;
        margin-left: 5.8%;
    }
    #cc {
        margin-right: 0.6rem;
        margin-left: 20.8%;
        margin-top: 3rem;
        margin-right: 5.8%;
        margin-left: 5.8%;
    }
    #cc1 {
        margin-right: 0.6rem;
        margin-left: 20.8%;
        font-size: x-large;
        margin-bottom: 0.6rem;
        margin-right: 5.8%;
        margin-left: 5.8%;
    }
    #cc2 {
        margin-right: 0.6rem;
        margin-left: 20.8%;
        margin-right: 5.8%;
        margin-left: 5.8%;
    }
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap:wrap;
 
}
.logo--right {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}
.logo--left {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}
.body {
    display: flex;
    flex-direction: column;
}
.logo--image {
    margin-left: 3.75rem;
    /* margin-top: 2rem; */
}
.logo--image-nomarginleft {
    margin-right: 3.75rem;
    /* margin-top: 2rem; */
}
.logo--image-nomargin {
    margin-top: 7rem;

}

.guide{
    background-color: #c8ffd4;
    display: flex;
    flex-direction: row-reverse;
}
.body {
    background-color: #ffffff;
}
.guide--matn {
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.guide--tozih {
    display: flex;
    flex-direction: row;
}
.guide--tozih-smallgreen {
    display: flex;
    flex-direction: column;
}
.img200 {
    width: 70%;
    margin-right: 10.8%;
    margin-top: 4rem;
}
.kl500 {
    margin-top: 0.9rem;
}
/* .back3 {
    background-color: white;
    padding:;
} */
/* .back4 {
    background-color: white;
} */
.guide--text-bold {
    font-size: xx-large;
    margin-top: 5rem;
}
.guide--text-greenbold {
    font-size: xx-large;
    color: green;
}
.guide--text-small {
    font-size: larger;
    color: rgb(129, 124, 124);
    margin-top: 2rem;
    margin-left: 30.8%;
}
.guide--text-greensmall {
    color: green;
    margin-top: 2rem;
    margin-left: 2.5rem;
    font-size: large;
}
.rty {
    display: none;
}
@media only screen and (max-width: 992px) {
    .asdfg {
        display: none;
    }
    #hh1 {
        display: none;
    }
    .rty {
        display: flex;
        margin-right: 80%;
        width: 50%;
        margin-top: 0;
    }
    .header{
        
        margin-top: 0.8rem;
    }

}
.rty:hover .asdfg{
    display: flex;
    flex-direction: column;
}
.support {
    display: flex;
    flex-direction: row-reverse;
    background-color: #c8ffd4;
    justify-content: center;
}
.support--description-large {
    font-size: xx-large;
    margin-right: 20.8%;
    margin-top: 5rem;
}
.support--description-blue {
    font-size: xx-large;
    color: royalblue;
    margin-right: 20.8%;
}
.support--description-bold {
    font-size: larger;
    margin-right: 30.8%;
}
.support--description-image{
    margin-right: 30.8%;
}
.support--description-small {
    margin-right: 30.8%;
    margin-top: 0.5rem;
}
.support--description-smallorigin {
    margin-right: 20.8%;
    margin-top: 0.5rem;
}
.support--image {
    width: 50%;
    margin-top: 5rem;
}
@media (max-width : 768px) {
    .start {
        flex-direction:column-reverse;
    }
    .start--text-title{
        margin-right: 20%;
        margin-left: 20%;
    }
    .start--text-details{
        margin-left: 20%;
        margin-right: 20%;
    }
    .start--image {
        width: 100%;
    }
    .logo--right {
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .logo--left {
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .img120 {
        margin-top: 0.2rem;
    }
    .logo--imageorigin {
        margin-top: 8rem;
    }
    .logo--image-nomarginleft {
        margin-right: 0;
    }
    .guide {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .phm {
        justify-content: center;
        margin-right: 20%;
        margin-left: 20%;
    }
    .guide--text-greensmall-top {
        margin-right: 25vw;
    }
    .support {
        display: flex;
        flex-direction: column;
        background-color: #c8ffd4;
        justify-content: center;
    }
    .support--image {
        margin-right: 20%;
        margin-left: 20%;
    }
    .support--some {
        margin-right: 20%;
        margin-left: 20%;
    }

}
.consent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.example {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.consent--text-bold {
    font-size: xx-large;
    text-align: center;
    margin-top: 10rem;
}
.consent--text-small {
    font-size: medium;
    text-align: center;
    margin-top: 1.2rem;
}
.example--image {
    width: 40%;
    margin-right: 20%;
    margin-top: 0.7rem;
}
.example--image-logo {
    margin-left: 20%;
}
.example--image-logolink {
    width: 30%;
}
@media only screen and (max-width : 768px) {
    .example {
        display: flex;
        flex-direction: column;
    }
    .example--image-logo {
        text-align: center;
    }
    .example--image-logolink {
        align-self: center;
    }
}
.statis--section {
    display: flex;
    flex-direction: row-reverse;
}
.statis--image {
    width:70%;
    margin: 3rem 1rem 0 0;
}
.statis--textbold {
    font-size: xx-large;
    margin: 3rem 15% 0 0;
}
.statis--textboldblue {
    font-size: xx-large;
    color: royalblue;
    margin: 0.4rem 15% 0 0;
}
.statis--textsmall {
    margin: 1rem 15% 0 0;
}
.statis--amar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}
.statis--amar-text-digi {
    font-size: x-large;
    margin-bottom: 0.2rem;
}

.buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buy--text-bold {
    font-size: xx-large;
    text-align: center;
    margin-top: 5rem;
}
.buy--text-medium {
    text-align: center;
    margin: 0.8rem 37%;
}
@media only screen and (max-width: 768px) {
    .statis--section {
        display: flex;
        flex-direction: column;
    }
    .statis--some{
        
        margin: 1rem 5rem;
        text-align: center;
    }
    .buy--text-medium {
        margin: 0.8rem 15%;
    }
}
.offer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.offer--small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-right: 20%;
}
.offer--big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 20%;

}
.offer--logo-standard {
    display: inline-block;
    color: royalblue;
    background-color: rgb(226, 226, 226);
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    margin: 2rem 42% 3.5rem 0rem;
}
.offer--price-digi {
    text-align: center;
    font-size: larger;
}
.offer--price-digitoman {
    font-size: x-large;
}
.offer--price-digi29 {
    font-size: xx-large;
}
.offer--price-bold {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.offer--price-text {
    text-align: center;
    margin-bottom: 3rem;
}
.moffer--description-text {
    margin-bottom: 1.2rem;
    margin-right: 3.5rem;
}
.offer--description-buttonblue {
    display: block;
    background-color: royalblue;
    padding: 1rem 0;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.offer--description-buttonblue:hover {
    background-color: blue;
}
.offer-logo-shekat{
    display: inline;
    justify-content: center;
    margin-right: 43%;
    background-color: rgb(226, 226, 226);
    color: royalblue;
    background-color: rgb(226, 226, 226);
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
}
.offer-logo-baste{
    margin-top: 3.8rem;
    text-align: center;
    margin-bottom:7rem;
}
.offer--buttongray-boxing {
    display: block;
    background-color: rgb(226, 226, 226);
    padding: 1rem 0;
    text-align: center;
    color: black;
    text-decoration: none;
    border-radius: 4px;

}
.offer--buttongray-boxing:hover {
    background-color:rgb(204, 203, 203) ;
}
.offer--big {
    margin-left: 25%;
}
@media (max-width: 768px) {
    .offer {
        display: flex;
        flex-direction: column;
    }
    .offer--big{
        margin: 0 20%;
        margin-top: 3rem;
    }
}
.question {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.question--top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.question--buttn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ssdf {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.start--image {
  margin-right: 0%;
  width: 50%;
}
.start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.support--some {
    margin-right: 5%;
}
.guide {
    display: flex;
    justify-content:space-around;
    flex-direction: row-reverse;
}
.guide--text-small{
    display: flex;
}
.question {
    display: flex;
    flex-direction: column;
}
.question--top-tozih {
    display: flex;
    flex-direction:row;
}
.question--title {
    font-size: x-large;
    margin-left: 20%;
}
.header--title-kian {
    font-size: x-large;
}
.cen {
    font-size: medium;
    color: darkgrey;
}
.header--link-blue {
    font-size: large;
}
.start--text-title{
    font-size:2.5rem;
    line-height: 50px;
    margin-top: 20%;
    font-weight:lighter;
}
.start--text-details {
    color: darkgrey;
    font-size: large;
    line-height: 29px;
}
.start--text-buttonorigin {
    font-size: medium;
    padding: 1rem;
}
.start--text-buttondetails {
    font-size: medium;
}
.hjkl{
    margin-right: 15%;
}
.start--image {
    width: 43%;
    margin-left: 10%;
    margin-right: 10%;
}
.se22 {
    line-height:29px;
    margin-left: 15%;
}
.fg55 {
    color: darkgrey;
}
.phm {
    line-height: 50px;
}
.guide--text-small {
    line-height: 25px;
}
.guide--text-greensmall-top{
    line-height: 20px;
}
.guide--text-greensmall-buutn {
    line-height: 20px;
}
.support--some {
    line-height: 25px;
    margin-right: 13%;
}
.support--image {
    width: 40%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 120px;
}
.support--description-large {
    line-height: 50px;
}

.support--description-small {
    color: darkgrey;
}
.support--description-smallorigin {
    color: darkgrey;
}
.support--description-large {
    margin-top: 120px;
}
.consent--text-small {
    color: darkgray;
}
.consent {
    display: flex;
    align-items: center;
    align-content: center;
}
.example--image {
    margin-left: 0;
}
.jhu {

    line-height: 25px;
}
.example--text-small {
    margin-top: 3rem;
    color: darkgray;
}
.statis--some {
    margin-right: 13.7%;
}
.statis--amar-text {
    margin-right: 0;
}
.statis--textsmall {
    line-height: 25px;
    color: darkgrey;
    margin-left: 15%;
}
.buy--text-medium {
    color: darkgray;
    line-height: 25px;
    margin: 1rem 30%;
    font-size: larger;
}
.buy--text-bold {
    font-size: 2.5rem;
}
.offer--price-digi29 {
    font-size: 5rem;
}
.offer--price-digitoman {
    font-size: xx-large;
    margin-top: 1rem;
}
.offer--price-digimah {
    font-size: x-large;
    margin-top: 2.5rem;
}
#offer--price-text {
    color: darkgray;
    margin-top: 1rem;
}
.offer--description-buttonblue {
    margin-top: 60px;
}
.offer-logo-baste {
    color: darkgray;
    line-height: 25px;
}
.statis--amar {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-items: baseline;
    align-content: center;
    justify-content: space-evenly;
}
.offer  {
    margin-top: 9rem;
}

.question--top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.question--buttn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.question{
    flex-direction: row;
    background-color: rgb(24, 14, 63);
}
.question--top-tozih {
    margin-right: 13.5%;
    margin-bottom: 0.5rem;
}
.question--top-tozihmore {
    margin-right: 13.5%;
    margin-left: 0;
}
.question--description {
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 2rem;
    color: darkgray;
    line-height: 25px;
}
.question--title {
    margin-top: 0.8rem;
    margin-right: 0.2rem;
    color: white;
}
.question--logo{
    background-color: lawngreen;
    padding: 5.5px;
    border-radius: 1000px;

}
.offer--description-buttonblue {
    margin-bottom: 4rem;
}
    
@media (max-width:992px) {
    .question {
        display:flex;
        flex-wrap: wrap;
    }    
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 14, 63);
}
.info--logo {
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 6px;
    color: blue;
    font-size: small;
    margin-top: 5rem;
}
.info--title {
    color: white;
    font-size: xx-large;
    margin-top: 3rem;
}
.info--text {
    color: darkgrey;
    margin: 0rem 25%;
    margin-top: 2rem;
   text-align: center;
}
.info--button {
    padding: 18px;
    background-color: chartreuse;
    border-radius: 4px;
    margin-top: 2rem;
   margin-bottom: 10rem;
}
.info--buttonbuy {
    text-decoration: none;
    color: white;

}
.info--button:hover {
    background-color: green;
    box-shadow: 0.11px 5px 5px white;
}
.footer {
    display: flex;
    flex-direction: row;

}
.footer--title {
    display: flex;
    flex-direction: column;
   
}
.footer--logobuttn { 
    display: flex;
    flex-direction: row;
}
.footer--description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer--description-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer--orgintitle-kian {
    margin-top: 5rem;
    color: royalblue;
    font-size: x-large;
    margin-right: 30%;
}
.footer--orgintitle-tarh {    margin-top: 0.8rem;
    color: darkgray;
    margin-right: 30%;
}
.footer--description-text {
    margin-bottom: 1rem;
    margin-right: 7rem;
    margin-top: 5rem;
}
.footer--description-link {
    margin-right: 7rem; 
    text-decoration: none;
    color: darkgray;
    margin-bottom: 1rem;
}
.guide--image {
    width: 77%;
    margin-top: 10rem;
    margin-right: 23%;
}
.guide--moshaver{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3.3rem;
     background-color: white;
    margin-right: 22.9%;
    margin-left: 0;
    margin-bottom: 1rem;
    
}
.guide--aks {
    display: flex;
    flex-direction: column;
}
.guide--aksdateils {
    display: flex;
    justify-content: space-around;
}
.phm {
    margin-right: 7rem;
}
.guide--text-bold{
    margin-top: 20rem;
}
.guide--button {
    margin-right: 0;
    margin-left: 0;
    margin-top: 1rem;
    font-family: vazir;
    background-color: chartreuse;
    border: none;
    padding: 10px 80px;
    border-radius: 4px; 
    padding: 3% 27%;
    margin-bottom: 2rem;
}

.guide--form {
    padding: 0.49rem 0.4rem 0.49rem 7rem;
    margin-top: 1.4rem;
    padding: 3% 1% 3% 40%;
    font-family: vazir;
}
.mnkjg {
    margin-top: 3rem;
}

.guide--moshaver:hover {
    box-shadow:0 0 13px black ;
}
.guide--image:hover{
    box-shadow: 0 0 13px black;
}
.guide--button:hover {
    box-shadow: 0 0 13px black;
    background-color: green;
}
.start--text-buttonorigin:hover {
    background-color: blue;
    box-shadow: 0 0 13px black;
}
.start--text-buttondetails:hover {
    box-shadow: 0 0 13px black;
    background-color: darkgray;
}
.header--link-blue:hover {
    background-color: rgb(12, 12, 143);
    box-shadow: 0 0 13px black;
}
.matnb20 {
    margin-bottom: 10rem;
}.support--image {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 30%;
}
.consent--text-small {
    margin-bottom: 1rem;
}
.statis--section {
    margin-top: 8rem;
    background-color: #c8ffd4;
}
.buy {
    background-color: #c8ffd4;
}
@media (max-width:768px) {
    .start {
        display: flex;
        flex-direction: column-reverse;
    }
    .start--image {
        width: 100%;
        margin: 0;
    }
    .guide {
        display: flex;
        flex-direction: column;
    }
    .guide--image {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0rem;
        margin-top: 2rem;
    }
    .guide--form {
        margin-right: 0;
        margin-left: 0;
    }
    .guide--moshaver {
        margin-right: 11.5%;
        margin-left: 11.5%;
    }
    .guide--button {
        margin-right: 11.5%;
        margin-left: 11.5%;
    }
    .guide--text-bold{
        margin-top: 2rem;
    }
    .support--image{
        width: 80%;
        margin-bottom: 3rem;
    }
    .support {
        flex-direction: column-reverse;
    }
    .matnb20 {
        margin-bottom: 2rem;
    }
    .example--image {
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
        margin-top: 2rem;
    }
    .statis--image{
        margin-right: 10%;
        margin-left: 10%;
        width: 80%; 
    }
    
    .jhu {
        margin-left: 0;
    }
    .ghk {
        margin: 0;
    }
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.header--inlist {
        display: none;
        position: absolute;
        background-color: rgb(195, 210, 255);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
}
.cen1 {
    padding: 5px 10px;
    display: block;
}
@media (max-width :992px ) {
    .header--link-blue {
        display: none;
    }
    .header--butten {
        position:relative;
    }
    .cen1 {
        float: none;
        display: block;
        text-align: left;
    }
    .dropdown--list {
        float: none;
    }
    .header--inlist {
        position: relative;
    }
    .navhi {
        display: block;
        width: 100%;
        text-align: left;
    }
}
.statis--section {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.statis {
    display: flex ;
    flex-direction: row-reverse;
    background-color: #c8ffd4;
    margin-top: 0;
    margin-bottom: 0;
}
.statis--svg {
      height: 250.283px;
}
.logo {
    display: flex;
    justify-content:space-around;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: row;
    flex-wrap: wrap;

}
.logo--image {
    margin: 0;
    padding: 0;
    margin: 3rem 0;
}
.logo--image-nomargin{
    margin: 0;
    padding: 0;
}
.example--image-logo {
    margin-left: 0;
}
.question--svg{
    height: 250.283px;
}
.offer--description-text  {
    margin-top: 1.3rem;
}
.offer--price-text {
    display: inline;
    justify-content: center;
    margin-right: 35%;
    color: darkgray;
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
}
